<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juguemos a las Pelotas - Star Wars Edition</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Juguemos a las Pelotas en una Galaxia Muy Lejana...</h1>
    <main>
        {% for i in range(number)%}
        <div class="circulo" style="background-color: {{color}};" onclick="eliminar(this)">
            <img id="img_p" src="{{ url_for('static', filename='img/' + image + '.jpg') }}">
        </div>
        {% endfor %}
    </main>
    <div class="star-wars-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg" alt="Star Wars Logo" width="150">
    </div>
</body>
</html>
