/* Selector Específico: */
.header{
    background-color: lightcyan;
}


/* Selector Descendente: */

.quote p{
    color: darkslategrey;
    font-style: italic;
}

.quote h1{
    color: dodgerblue;
    font-style: normal;
}


/* Selector descendente directo*/
.header > img {
    height: 50px;

}

#container{
    background-color: lightcoral;
    padding: 10px;
}


/* Estilo para los párrafos dentro del contenedor*/
#container p {
    font-size: 16px;
    background-color: #333;
}

/* Estilo para los párrafos dentro del contenedor*/

#container p.highlight {
    font-weight: bold;
    color: #ff0000; /* Rojo */
}

#container p {
    font-weight: bold;
    color: #ffffff; /* Blanco */
}


/* Selectores de atributo */

input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
    padding-top: 30px;
}

input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}