<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body{
            background-color: burlywood;
            color: purple;
            text-align: center;
        }
        main {
            padding: 2rem;
        }
        header{
          display: flex;
          justify-content: space-around;
        }

        header div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    </style>
</head>
<body>
    <header>
      <div>
        <h1>Usuarios:</h1>
      </div>
      <div>
        <a href="/usuarios/nuevo" class="btn btn-warning">Nuevo usuario</a>
      </div>
    </header>
    <main>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col"> id #</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha creacion</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios%}
              <tr>
                <td >{{usuario.id}}</td>
                <td >{{usuario.nombre}} {{usuario.apellido}}</td>
                <td >{{usuario.email}}</td>
                <td >{{usuario.created_at}}</td>
                <td > <a href="/usuarios/{{usuario.id}}" class="btn btn-success">Ver</a>
                  <a href="/usuarios/editar/{{usuario.id}}" class="btn btn-warning">Editar</a>
                  <a href="/usuarios/eliminar/{{usuario.id}}" class="btn btn-danger">Borrar</a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>


    </main>
    <footer>
     </footer>
</body>
</html>