<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: yellow;
            text-align: center;
        }
        main {
            padding: 2rem;
        }

    </style>
</head>
<body>
    <p>{{navex.id}}</p>
    <p>{{navex.nombre}}</p>
    <p>{{navex.modelo}}</p>
    <p>{{navex.capacidad}}</p>
    <p> {{navex.piloto_id}}</p>
    <p></p>
    <p></p>
    
    <footer>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg" alt="Logo de stars wars">
    </footer>
</body>
</html>